/node_modules
/public/hot
/public/storage
/public/images/post
/public/images/job
/public/images/profile_image
/public/images/shop_image

/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/captcha.php
/config/database.php
/config/tracker.php
/config/debug-server.php
database-artfora.sql
/artfora
/socketIo
